#
# Systemd unit file for Attractor
#

[Unit]
Description=Attractor
Documentation=https://github.com/xcme/attractor
After=network.target

[Service]
Type=forking
ExecStart=/usr/bin/python2  /usr/local/etc/attractor/attractor.py start
ExecStop=/usr/bin/python2   /usr/local/etc/attractor/attractor.py stop
ExecReload=/usr/bin/python2 /usr/local/etc/attractor/attractor.py restart
PIDFile=/var/run/attractor.pid

[Install]
WantedBy=multi-user.target